<launch>

<node pkg="feature_frontend" type="maskGenerater" name="maskGenerater" output="screen">
    <param name="camera_model" type="string" value= "/home/gao/Dropbox/reading/Pan Jie/tum_config.yaml"/>
    <param name="output_image" type="string" value= "/home/gao/Dropbox/reading/Pan Jie/mask.bmp"/>
    <param name="maxFOV" type="int" value= "195"/>
    <param name="minFOV" type="int" value= "0"/>
</node>

</launch>
